<p>Hi, <strong>{{ studentName }}</strong>.</p>
<p>Welcome to Gymstar.<br>We're a gym built exclusively for those who want the best gym experience possible.</p>
<p>Your Gymstar id is: {{ studentId }}. Use it to access your gym.</p>
<p>Plan acquired: {{ planName }}.</p>
<p>Plan end date: {{ planEndDate }}.</p>
<p>Quick reminder - You can only use the gym 5 times per week.</p>
